PORT=3001
NODE_ENV=development

DATABASE_URL=postgresql://neondb_owner:npg_4QTwIGoph9ZP@ep-orange-mountain-b39goof2-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

CLERK_PUBLISHABLE_KEY=pk_test_Z2xhZC1yYXktMzUxNi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_uIUEfUaoEi8z8VY6XY8tSZJm40H1CsgMlouOT3iZSi

SENTRY_DSN=https://9ab379843575a1fc0adf220e6494d448@o4512140788039680.ingest.us.sentry.io/4512140796755968

STREAM_API_KEY=gy38xpb3uqeh
STREAM_API_KEY=fqap7qv226kyjg6h4fumwzqxsuqktdtvr76p878q72j6qupg2p7ht57u6gtcuy24

IMAGEKIT_PRIVATE_KEY=private_M+tlV06ZbP4jGzNOffjtBWAvi9c=
IMAGEKIT_PUBLIC_KEY=public_rMi2VAJ+qclTLcmTgeGXUitDU8M=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/67fgindnhe